In [102]:
import pandas as pd
import glob
import os
import pandas as pd
import h5py
import glob
from datetime import datetime, timedelta
import math
import matplotlib.pyplot as plt
import numpy as np
from pyproj import Proj
from collections import OrderedDict
import math
from math import radians

In [103]:
joined_files = os.path.join(".\\linkscsvs_points", "*.csv")
joined_list = glob.glob(joined_files)
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)
df

,id,id_Key,Date_Proc,Lat_GMTCO,Lon_GMTCO,Date_Mscan,Date_LTZ,Temp_BB,Temp_Bkg,ESF_BB,...,Cloud_Mask,QF_Fit,QF_Detect,Sample_M10,Line_M10,Sample_DNB,Line_DNB,File_M10,File_DNB,Source_ID
0,50,x0712067W_y467544N_l2856_s1805_v30,2019/08/16 23:27:32,46.754433,-71.206665,2019/08/01 06:56:05.801,2019-08-01 01:56:05.801,999999,999999,999999.000000,...,0,0,243968,1805,2856,2248,2856,SVM10_npp_d20190801_t0650488_e0656274_b40206_c...,SVDNB_npp_d20190801_t0650488_e0656274_b40206_c...,NaN
1,51,x0711964W_y467526N_l2856_s1806_v30,2019/08/16 23:27:32,46.752605,-71.196365,2019/08/01 06:56:05.801,2019-08-01 01:56:05.801,999999,999999,999999.000000,...,0,0,112960,1806,2856,2249,2856,SVM10_npp_d20190801_t0650488_e0656274_b40206_c...,SVDNB_npp_d20190801_t0650488_e0656274_b40206_c...,NaN
2,57,x0731385W_y460471N_l3007_s1653_v30,2019/08/16 23:27:32,46.047134,-73.138451,2019/08/01 06:56:21.815,2019-08-01 01:56:21.815,840,290,0.000139,...,1,34,375408,1653,3007,2088,3007,SVM10_npp_d20190801_t0650488_e0656274_b40206_c...,SVDNB_npp_d20190801_t0650488_e0656274_b40206_c...,NaN
3,58,x0731406W_y460406N_l3008_s1653_v30,2019/08/16 23:27:32,46.040596,-73.140648,2019/08/01 06:56:21.815,2019-08-01 01:56:21.815,897,288,0.000102,...,1,34,507248,1653,3008,2088,3008,SVM10_npp_d20190801_t0650488_e0656274_b40206_c...,SVDNB_npp_d20190801_t0650488_e0656274_b40206_c...,NaN
4,60,x0723795W_y458179N_l3022_s1734_v30,2019/08/16 23:27:32,45.817886,-72.379524,2019/08/01 06:56:23.594,2019-08-01 01:56:23.594,1206,999999,0.000008,...,0,1,442177,1734,3022,2173,3022,SVM10_npp_d20190801_t0650488_e0656274_b40206_c...,SVDNB_npp_d20190801_t0650488_e0656274_b40206_c...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469709,85,x1156944E_y308529S_l2345_s2742_v30,2019/09/04 15:18:40,-30.852915,115.694374,2019/08/31 18:05:02.486,2019-09-01 02:05:02.486,999999,999999,999999.000000,...,1,0,507712,2742,2345,3393,2345,SVM10_npp_d20190831_t1800424_e1806228_b40638_c...,SVDNB_npp_d20190831_t1800424_e1806228_b40638_c...,NaN
469710,89,x1160452E_y317261S_l2474_s2798_v30,2019/09/04 15:18:40,-31.726051,116.045174,2019/08/31 18:05:16.721,2019-09-01 02:05:16.721,1289,281,0.000010,...,1,34,439920,2798,2474,3453,2475,SVM10_npp_d20190831_t1800424_e1806228_b40638_c...,SVDNB_npp_d20190831_t1800424_e1806228_b40638_c...,NaN
469711,98,x1178579E_y334579S_l2727_s2995_v30,2019/09/04 15:18:40,-33.457928,117.857903,2019/08/31 18:05:45.189,2019-09-01 02:05:45.189,999999,999999,999999.000000,...,1,0,507648,2995,2727,3703,2726,SVM10_npp_d20190831_t1800424_e1806228_b40638_c...,SVDNB_npp_d20190831_t1800424_e1806228_b40638_c...,NaN
469712,103,x1167563E_y339497S_l2809_s2904_v30,2019/09/04 15:18:40,-33.949711,116.756317,2019/08/31 18:05:54.085,2019-09-01 02:05:54.085,1075,278,0.000104,...,1,34,507769,2904,2809,3579,2809,SVM10_npp_d20190831_t1800424_e1806228_b40638_c...,SVDNB_npp_d20190831_t1800424_e1806228_b40638_c...,NaN
469713,110,x1171617E_y344756S_l2888_s2947_v30,2019/09/04 15:18:40,-34.475597,117.161743,2019/08/31 18:06:02.982,2019-09-01 02:06:02.982,1458,279,0.000004,...,1,34,507760,2947,2888,3635,2888,SVM10_npp_d20190831_t1800424_e1806228_b40638_c...,SVDNB_npp_d20190831_t1800424_e1806228_b40638_c...,NaN

In [104]:
dfCoordinates = df[df['Lon_GMTCO'] != 999999]
dfCoordinates = dfCoordinates[dfCoordinates['Lat_GMTCO'] != 999999]

## (will keep all points for testing) Removing null temperatures and removing temperature below 1400 K based on articles describing a flare activity

In [105]:
dfCoordinates = dfCoordinates[dfCoordinates['Temp_BB'] != 999999]
#dfCoordinates = dfCoordinates[dfCoordinates['Temp_BB'] >= 1400]

In [106]:
dfCoordinates['Date_Mscan'] = pd.to_datetime(dfCoordinates['Date_Mscan'], format='%Y/%m/%d %H:%M:%S')
dfCoordinates['Date_Mscan'] = dfCoordinates['Date_Mscan'].dt.date
dfCoordinates.groupby('Date_Mscan').size().reset_index(name='Count').sort_values('Count', ascending=False).tail(15)

    Date_Mscan  Count
1   2019-08-02   9233
21  2019-08-22   8913
4   2019-08-05   8884
10  2019-08-11   8813
20  2019-08-21   8785
30  2019-08-31   8642
23  2019-08-24   8405
27  2019-08-28   8180
29  2019-08-30   8085
24  2019-08-25   8077
2   2019-08-03   7913
3   2019-08-04   7802
0   2019-08-01   7617
26  2019-08-27   7307
25  2019-08-26   6933

## Removing duplicated coordinates

In [108]:
dfCoordinates.drop_duplicates(subset=['Lat_GMTCO', 'Lon_GMTCO'], keep= 'last', inplace=True)
dfCoordinates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 293018 entries, 2 to 469713
Data columns (total 26 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          293018 non-null  int64
 1   id_Key      293018 non-null  object
 2   Date_Proc   293018 non-null  object
 3   Lat_GMTCO   293018 non-null  float64
 4   Lon_GMTCO   293018 non-null  float64
 5   Date_Mscan  293018 non-null  object
 6   Date_LTZ    293018 non-null  object
 7   Temp_BB     293018 non-null  int64
 8   Temp_Bkg    293018 non-null  int64
 9   ESF_BB      293018 non-null  float64
 10  RHI         293018 non-null  float64
 11  RH          293018 non-null  float64
 12  Methane_EQ  293018 non-null  int64
 13  CO2_EQ      293018 non-null  int64
 14  Area_Pixel  293018 non-null  float64
 15  Area_BB     293018 non-null  float64
 16  Cloud_Mask  293018 non-null  int64
 17  QF_Fit      293018 non-null  int64
 18  QF_Detect   293018 non-null  int64
 19  Sample_M10  293018 non-null  int64
 20  Line_M10    293018 non-null  int64
 21  Sample_DNB  293018 non-null  int64
 22  Line_DNB    293018 non-null  int64
 23  File_M10    293018 non-null  object
 24  File_DNB    293018 non-null  object
 25  Source_ID   0 non-null       float64
dtypes: float64(8), int64(12), object(6)
memory usage: 60.4+ MB

## Checking the period with more detections

In [109]:
dfCoordinates['Date_Mscan'] = pd.to_datetime(dfCoordinates['Date_Mscan'], format='%Y/%m/%d %H:%M:%S')
dfCoordinates.head()

,id,id_Key,Date_Proc,Lat_GMTCO,Lon_GMTCO,Date_Mscan,Date_LTZ,Temp_BB,Temp_Bkg,ESF_BB,...,Cloud_Mask,QF_Fit,QF_Detect,Sample_M10,Line_M10,Sample_DNB,Line_DNB,File_M10,File_DNB,Source_ID
2,57,x0731385W_y460471N_l3007_s1653_v30,2019/08/16 23:27:32,46.047134,-73.138451,2019-08-01,2019-08-01 01:56:21.815,840,290,0.000139,...,1,34,375408,1653,3007,2088,3007,SVM10_npp_d20190801_t0650488_e0656274_b40206_c...,SVDNB_npp_d20190801_t0650488_e0656274_b40206_c...,NaN
3,58,x0731406W_y460406N_l3008_s1653_v30,2019/08/16 23:27:32,46.040596,-73.140648,2019-08-01,2019-08-01 01:56:21.815,897,288,0.000102,...,1,34,507248,1653,3008,2088,3008,SVM10_npp_d20190801_t0650488_e0656274_b40206_c...,SVDNB_npp_d20190801_t0650488_e0656274_b40206_c...,NaN
4,60,x0723795W_y458179N_l3022_s1734_v30,2019/08/16 23:27:32,45.817886,-72.379524,2019-08-01,2019-08-01 01:56:23.594,1206,999999,0.000008,...,0,1,442177,1734,3022,2173,3022,SVM10_npp_d20190801_t0650488_e0656274_b40206_c...,SVDNB_npp_d20190801_t0650488_e0656274_b40206_c...,NaN
5,62,x0732523W_y458400N_l3040_s1650_v30,2019/08/16 23:27:32,45.840034,-73.252296,2019-08-01,2019-08-01 01:56:25.373,788,288,0.000108,...,1,34,245360,1650,3040,2085,3040,SVM10_npp_d20190801_t0650488_e0656274_b40206_c...,SVDNB_npp_d20190801_t0650488_e0656274_b40206_c...,NaN
7,64,x0732652W_y458221N_l3043_s1650_v30,2019/08/16 23:27:32,45.822136,-73.265175,2019-08-01,2019-08-01 01:56:27.152,1091,287,0.000032,...,1,34,442225,1650,3043,2085,3043,SVM10_npp_d20190801_t0650488_e0656274_b40206_c...,SVDNB_npp_d20190801_t0650488_e0656274_b40206_c...,NaN

In [110]:
dfCoordinates['Date_Mscan'] = dfCoordinates['Date_Mscan'].dt.date
dfCoordinates.groupby('Date_Mscan').size().reset_index(name='Count').sort_values('Count', ascending=False).tail(15)

    Date_Mscan  Count
1   2019-08-02   9233
21  2019-08-22   8913
4   2019-08-05   8884
10  2019-08-11   8813
20  2019-08-21   8785
30  2019-08-31   8642
23  2019-08-24   8405
27  2019-08-28   8180
29  2019-08-30   8085
24  2019-08-25   8077
2   2019-08-03   7913
3   2019-08-04   7802
0   2019-08-01   7617
26  2019-08-27   7307
25  2019-08-26   6933

## Getting tiles

In [111]:
def get_tile(lat, lon):
    h = str(math.trunc(abs(((-180 - (lon))/10))))
    v = str(math.trunc(abs(((90 - (lat))/10))))
    
    return "h"+ h.zfill(2)+"v"+v.zfill(2)

In [112]:
dfCoordinates['tile'] = dfCoordinates.apply(lambda x: get_tile(x['Lat_GMTCO'], x['Lon_GMTCO']), axis=1)
dfCoordinates.head()

,id,id_Key,Date_Proc,Lat_GMTCO,Lon_GMTCO,Date_Mscan,Date_LTZ,Temp_BB,Temp_Bkg,ESF_BB,...,QF_Fit,QF_Detect,Sample_M10,Line_M10,Sample_DNB,Line_DNB,File_M10,File_DNB,Source_ID,tile
2,57,x0731385W_y460471N_l3007_s1653_v30,2019/08/16 23:27:32,46.047134,-73.138451,2019-08-01,2019-08-01 01:56:21.815,840,290,0.000139,...,34,375408,1653,3007,2088,3007,SVM10_npp_d20190801_t0650488_e0656274_b40206_c...,SVDNB_npp_d20190801_t0650488_e0656274_b40206_c...,NaN,h10v04
3,58,x0731406W_y460406N_l3008_s1653_v30,2019/08/16 23:27:32,46.040596,-73.140648,2019-08-01,2019-08-01 01:56:21.815,897,288,0.000102,...,34,507248,1653,3008,2088,3008,SVM10_npp_d20190801_t0650488_e0656274_b40206_c...,SVDNB_npp_d20190801_t0650488_e0656274_b40206_c...,NaN,h10v04
4,60,x0723795W_y458179N_l3022_s1734_v30,2019/08/16 23:27:32,45.817886,-72.379524,2019-08-01,2019-08-01 01:56:23.594,1206,999999,0.000008,...,1,442177,1734,3022,2173,3022,SVM10_npp_d20190801_t0650488_e0656274_b40206_c...,SVDNB_npp_d20190801_t0650488_e0656274_b40206_c...,NaN,h10v04
5,62,x0732523W_y458400N_l3040_s1650_v30,2019/08/16 23:27:32,45.840034,-73.252296,2019-08-01,2019-08-01 01:56:25.373,788,288,0.000108,...,34,245360,1650,3040,2085,3040,SVM10_npp_d20190801_t0650488_e0656274_b40206_c...,SVDNB_npp_d20190801_t0650488_e0656274_b40206_c...,NaN,h10v04
7,64,x0732652W_y458221N_l3043_s1650_v30,2019/08/16 23:27:32,45.822136,-73.265175,2019-08-01,2019-08-01 01:56:27.152,1091,287,0.000032,...,34,442225,1650,3043,2085,3043,SVM10_npp_d20190801_t0650488_e0656274_b40206_c...,SVDNB_npp_d20190801_t0650488_e0656274_b40206_c...,NaN,h10v04

In [113]:
dfCoordinates = dfCoordinates[['Lat_GMTCO','Lon_GMTCO', 'Temp_BB','Date_Mscan','tile']]
dfCoordinates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 293018 entries, 2 to 469713
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Lat_GMTCO   293018 non-null  float64
 1   Lon_GMTCO   293018 non-null  float64
 2   Temp_BB     293018 non-null  int64
 3   Date_Mscan  293018 non-null  object
 4   tile        293018 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 13.4+ MB

In [114]:
dfCoordinates.to_csv('.\\rawpoints_coordinates\\main_coordinates_processed.csv', index=False)

## Grouping coordinates by day

In [125]:
df_det = pd.read_csv('.\\rawpoints_coordinates\\main_coordinates_processed.csv')
df_det['Date_Mscan'] = pd.to_datetime(df_det['Date_Mscan'], format='%Y-%m-%d')
df_det

        Lat_GMTCO   Lon_GMTCO  Temp_BB Date_Mscan    tile
0       46.047134  -73.138451      840 2019-08-01  h10v04
1       46.040596  -73.140648      897 2019-08-01  h10v04
2       45.817886  -72.379524     1206 2019-08-01  h10v04
3       45.840034  -73.252296      788 2019-08-01  h10v04
4       45.822136  -73.265175     1091 2019-08-01  h10v04
...           ...         ...      ...        ...     ...
293013 -21.434839  114.067787     1756 2019-08-31  h29v11
293014 -21.699968  115.000206     1820 2019-08-31  h29v11
293015 -31.726051  116.045174     1289 2019-08-31  h29v12
293016 -33.949711  116.756317     1075 2019-08-31  h29v12
293017 -34.475597  117.161743     1458 2019-08-31  h29v12

[293018 rows x 5 columns]

In [127]:
init_date = datetime.strptime('2019-08-01', '%Y-%m-%d')
end_date = datetime.strptime('2019-08-31', '%Y-%m-%d')

day_csv = 213

while init_date.date() <= end_date.date():
    df_dates_det_D = df_det[df_det['Date_Mscan'] == init_date]
    df_dates_det_D.to_csv(".\\rawpoints_coordinates\\daily\\A2019" + str(day_csv) + ".csv", index=True)
    init_date = init_date + timedelta(days=1)
    day_csv+=1